<ul class="list-unstyled p-1 mt-1 mb-1">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="mt-4 mb-4"><a class="text-dark {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}"><strong>{{ .Name }}</strong></a>
        {{ if .HasChildren }}    
        <ul>
            {{ range .Children }}
            <li><a class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
        {{ end }}
    </li>
    {{ end }}
</ul>