<ul>
    {{- $currentPage := . -}}
    {{- $pagesAndSections := .Site.Sections.ByWeight | append (where (where .Site.Pages.ByWeight "Section" "") "IsHome" false) -}}
    {{- range sort $pagesAndSections "Weight" "asc" -}}
        {{- if .IsSection -}}
            {{ partial "section-menu-item.html" (dict "section" . "currentPage" $currentPage ) }}
        {{- end -}}
        {{- if .IsPage -}}
            {{ partial "page-menu-item.html" (dict "page" . "currentPage" $currentPage ) }}
        {{- end -}}
    {{- end -}}
</ul>