<ul>
    {{- $currentPage := . -}}
    {{- range .Site.Sections.ByWeight -}}
        {{- if .IsSection -}}
            {{ partial "section-menu-item.html" . }}
        {{- end -}}
        {{- if .IsPage -}}
            {{ partial "page-menu-item.html" . }}
        {{- end -}}
    {{- end -}}
    {{- range (where .Site.Pages.ByWeight "Section" "") -}}
        {{- if .IsSection -}}
            {{ partial "section-menu-item.html" . }}
        {{- end -}}
        {{- if .IsPage -}}
            {{ partial "page-menu-item.html" . }}
        {{- end -}}
    {{- end -}}
</ul>