body {
    color: #212529!important;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40!important;
}

h2 {
    margin-top: 2.5rem!important;
    margin-bottom: .5rem!important;
}

pre {
    background-color: #f8f9fa!important;
    padding: 1.5rem!important;
    border: 1px solid #dee2e6;
    border-radius: .25rem;

    .dont & {
        background-color: #f8d7da!important;
        border-color: #dc3545!important;
    }

    .do & {
        background-color: #d4edda!important;
        border-color: #28a745!important;
    }

    code {
        background-color: transparent!important;
        color: #212529;
        padding: 0;
    }    
}

code {
    background-color: #f8f9fa!important;
    color:#28a745;
    padding: .5rem .1rem .5rem .1rem;
}

img{
    max-width: 100%;
    height: auto;
}

.homepage-content ul {
    text-align: left;
    margin-top: 1.5rem!important;
}

.homepage-content ul li {
    margin-top: .5rem!important;
}

.content-block {
    overflow: hidden;

    pre {
        margin-top: 1.5rem!important;
        margin-bottom: 2.5rem!important;
        max-width: 640px;
        transition: all .5s;

        &:hover {
            max-width: 100%;
        }
    }

    p {
        max-width: 640px;
    }
}

.section-intro {
    margin-bottom: 1.5em!important;
}

table {
    margin-top: 1.5rem!important;
    margin-bottom: 2.5rem!important;
    padding: .5rem!important;
    border-collapse: separate;
    border: 1px solid #dee2e6;
    border-radius: .25rem;    
}

th {
    padding: .5rem!important;
}

td {
    vertical-align: top;
    padding: .5rem!important;
}

td:first-child {
    white-space: nowrap;
}

html, body {
    height: 100%;
}

#header-and-main {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 56px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -56px; /* negative value of footer height */
    height: 56px;
    clear:both;
    padding-top:20px;
} 

.sidebar {
    min-width: 280px;
    max-width: 280px;
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;

    & > ul {
        margin-top: .25rem!important;
        margin-bottom: .25rem!important;
        padding-left: 0;
        list-style: none;

        & > li {
            margin-top: 1rem!important;
            margin-bottom: 1rem!important;

            & > a {
                color: #343a40!important;
                font-weight: bold;
            }

            ul {
                margin-top: .5rem!important;
                margin-bottom: .5rem!important;
                padding-left: 1.3rem!important;
                list-style: none;
            }

            li {
                margin-top: .5rem!important;
                margin-bottom: .5rem!important;
            }
        }
    }

    .section-item-link {

        &::before {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .45em;
            margin-right: .45em;
            vertical-align: .1em;
            content: "";
            border-left: .3em solid;
            border-top: .3em solid transparent;
            border-right: 0;
            border-bottom: .3em solid transparent;
        }

        &.ancestor::before {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: .3em;
            margin-right: .3em;
            vertical-align: .255em;
            content: "";
            border-top: .3em solid;
            border-right: .3em solid transparent;
            border-bottom: 0;
            border-left: .3em solid transparent;
        }
    }

    .section-item-link.active,
    .page-item-link.active {
        color: #28a745!important;
    }
}