body {
    color: #212529!important;
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40!important;
}

h2 {
    margin-top: 2.5rem!important;
    margin-bottom: .5rem!important;

}

pre {
    background-color: #f8f9fa!important;
    padding: 1.5rem!important;
    border: 1px solid #dee2e6;
    border-radius: .25rem;

    code {
        color: #212529;
        padding: 0;
    }    
}

code {
    background-color: #f8f9fa!important;
    color:#28a745;
    padding: .5rem .1rem .5rem .1rem;
}

table {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

img{
    max-width: 100%;
    height: auto;
}

.homepage-content ul {
    text-align: left;
    margin-top: 1.5rem!important;
}

.homepage-content ul li {
    margin-top: .5rem!important;
}

.content-block {
    max-width: 1024px;
}

html, body {
    height: 100%;
}

#header-and-main {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 56px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -56px; /* negative value of footer height */
    height: 56px;
    clear:both;
    padding-top:20px;
} 

.sidebar {
    min-width: 200px;
    max-width: 200px;

    & > ul {
        margin-top: .25rem!important;
        margin-bottom: .25rem!important;
        padding-left: 0;
        list-style: none;

        & > li {
            margin-top: 1.5rem!important;
            margin-bottom: 1.5rem!important;

            & > a {
                color: #343a40!important;
                font-weight: bold;
            }

            ul {
                margin-top: .5rem!important;
                margin-bottom: .5rem!important;
                padding-left: 1rem!important;
                list-style: none;
            }

            li {
                margin-top: .5rem!important;
                margin-bottom: .5rem!important;
            }
        }
    }
}