pre {
    background-color: #f8f9fa!important;
    padding: 1rem!important;
}

.homepage-content ul {
    text-align: left;
    margin-top: 1.5rem!important;
}

.homepage-content ul li {
    margin-top: .5rem!important;
}