<!DOCTYPE html>
<html>
  <head>
    {{ partial "gtm" . }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=xQdjvJ8Lmw">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=xQdjvJ8Lmw">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=xQdjvJ8Lmw">
    <link rel="manifest" href="/site.webmanifest?v=xQdjvJ8Lmw">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=xQdjvJ8Lmw" color="#28a745">
    <link rel="shortcut icon" href="/favicon.ico?v=xQdjvJ8Lmw">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{ $style := resources.Get "sass/estafette.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  </head>
  <body>
    <div id="header-and-main">
      {{ block "header" . }}{{ partial "header" . }}{{ end }}
      <div id="main">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "footer" . }}{{ partial "footer" . }}{{ end }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>