<!DOCTYPE html>
<html>
  <head>
    {{ partial "gtm" . }}
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {{ $style := resources.Get "sass/estafette.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  </head>
  <body>
    <div id="header-and-main">
      {{ block "header" . }}{{ partial "header" . }}{{ end }}
      <div id="main">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
    {{ block "footer" . }}{{ partial "footer" . }}{{ end }}
  </body>
</html>