{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div class="container-fluid">
        <div class="row">
            {{ partial "sidebar" . }}
            <div class="col pl-5 pt-4" style="overflow: hidden">
                <article>
                    <header>
                        <h1 class="mb-4">{{ .Title }}</h1>
                    </header>
                    {{ .Content }}
                </article>    
            </div>
        </div>
    </div>
{{ end }}